HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Igonre application.properties
!src/main/resources/application-local.properties
!src/main/resources/static
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/src/main/resources/application-local.properties
src/main/resources/static/videos/018297b8-097d-446f-a330-81bbd0f67bd1.mp4
/src/main/resources/static/videos/044f88d2-57f2-455e-b1d4-15c01a5750b7.mp4
/src/main/resources/static/videos/03b59d71-ab9d-46bc-9be2-cd5cd33d8676.mp4
/src/main/resources/static/videos/8a493648-8304-409d-887d-65c7e43805ec.mp4
/src/main/resources/static/videos/49c7564c-c93d-46b3-8951-88b161bbe6cb.mp4
/src/main/resources/static/videos/cover/272a47a7-fd0a-4b07-86b8-6e3875c7d32a.png
/src/main/resources/static/videos/cover/798dd18a-d0f6-4ed9-9cc9-8d653e8c4312.png
/src/main/resources/static/videos/2918e14a-f4cf-4f3f-803f-9db4fd185cf2.mp4
/src/main/resources/static/videos/cover/83246fb0-4a7e-4e43-a018-d93bbe25b295.png
/src/main/resources/static/videos/9185900e-67e8-42c6-a4cd-885e1ede5716.mp4
/src/main/resources/static/videos/cover/30370720-6391-4508-b0b0-ddbf116c94e7.png
/src/main/resources/static/videos/cover/aaf67df4-945d-4cba-8f35-ca44f8e7d6c8.png
/src/main/resources/static/videos/cover/d870b579-c4a3-4a2b-92a9-99c7404aeba2.png
/src/main/resources/static/videos/cover/de517e08-c681-43aa-beaa-42a132243eec.png
/src/main/resources/static/videos/df76908b-6719-4b0b-acc0-a9f08c3ec09d.mp4
/src/main/resources/static/videos/ec31972d-ce66-4427-b8f3-3eb7e005159c.mp4
/src/main/resources/static/videos/ec923887-d7f5-4c4e-acb2-ed13a98838c4.mp4
/src/main/resources/static/videos/cover/ef93a3cb-212a-44dc-bed2-0445e273dea0.png
/src/main/resources/static/videos/cover/f2ff9d14-ab17-4ac2-9a87-ac391ac05323.png
/src/main/resources/static/videos/f70f33b0-4559-486e-bbed-4f02bc58785b.mp4
/src/main/resources/static/videos/cover/f6513f2a-bd6e-4593-b750-af2bb60a540d.png
