@import 'mixin.scss';
@import 'variables.scss';

* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 16px;
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
  background: $color-background;
  color: $color-text;
  // position: fixed;
  min-width: 915px;
  // overflow-y: overlay;
  user-select: none;
}
a {
  color: inherit;
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

ul li {
  // display: inline-block;
  list-style: none;
}
.app {
  width: 100%;
  height: 100%;
  font-weight: normal;
}

//自定义滚动条
* {
  scrollbar-color: #f2f2f4 transparent;
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
  width: 12px;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 4px;
  -webkit-transition: all 1s;
  transition: all 1s;
  width: 16px;
}

::-webkit-scrollbar-thumb:hover,
:hover::-webkit-scrollbar-thumb {
  background: #f2f2f4;
  // background: rgba(242, 243, 243, 0.08);
}

@media (prefers-color-scheme: dark) {
  $color-background: $color-black;

  $color-border: $divider-dark-2;
  $color-border-hover: $divider-dark-1;

  $color-text: $color-text-dark-2;
}

// @media (min-width: 1024px) {
//   body {
//     display: flex;
//     place-items: center;
//   }

//   #app {
//     display: grid;
//     grid-template-columns: 1fr 1fr;
//     padding: 0 2rem;
//   }
// }
